@media (max-width: 576px) {
    a.nav-link {
        padding: 20px 20px !important;
    }
}
/* 
@media (min-width: 576px) {
    .top-red-div {
        padding-right: 0px !important;
    }
} */

@media (max-width: 992px) {
    h1 {
        font-size: 1.5rem !important;
        padding-top: 35px !important;
    }
    h2 {
        font-size: 1.2rem !important;
        text-align: center;
    }
    .btn-below-h1 {
        margin-bottom: 25px !important;
    }
    .top-white {
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .btn-below-h1 {
        margin-top: 55px !important;
    }
    .top-white {
        margin-top: 160px;
        padding-top: 95px;
        padding-bottom: 85px;
    }
}

.navbar {
    line-height: .9 !important;
    background: #e74c3c !important;
    width: 100%;
    padding: 0% !important;
}

body {
    background: #363636;
    color: #fff;
}

header {
    max-width: 1000px;
}

.nav-link {
    color: #fff !important;
    padding: 42px 20px 42px 20px !important;
    text-transform: uppercase;
}

.nav-link:hover {
    background: #f46758;
    color: #363636 !important;
}

.navbar-brand {
    margin-left: 20px !important;
}

button.navbar-toggler {
    margin: 10px !important;
}

.fa-navicon {
    color: #fff;
}

.row-white {
    max-width: 1000px;
}

h1 {
    display: block !important;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4rem;
    /* font-size: 52pt; */
    transform: scale(1.01, 1);
    padding: 160px 0 25px 0;
}

h2 {
    text-transform: uppercase;
    line-height: .9;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    transform: scale(1, 1);
    color: #3e3e3e !important;
    margin-bottom: 25px;
}

.below-h1 {
    max-width: 620px;
}

.btn-below-h1 {
    background: #404040;
    border: 1px solid #9b9b9b;
    border-radius: 0px !important;
    color: #fff;
    padding: 16px 55px;
}

.btn-below-h1:hover {
    color: #ccc;
}

.top-white {
    background: #fff;
    color: #000;
    line-height: 1.4;
}

.top-white a {
    color: #e74c3c;
    text-decoration: underline;
}

.top-white a:hover {
    color: #e74c3c;
    text-decoration: none;
}

.top-white p {
    /* padding: 0 10px 0 0 !important; */
    margin-right: 10px;
}

.text-best {
    color: #e74c3c;
}

.top-red {
    background: #db574a;
}

.top-red h2 {
    text-transform: uppercase;
    color: #fff !important;
    /* line-height: .9; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 2.4rem;
    transform: scale(0.9, 1);
}

/* .top-red .col-sm { */
.top-red-div {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.top-red p {
    /* max-width: 230px; */
    text-align: justify;
    border: 1px solid #000;
}