* {
    /* outline: 1px solid #000 !important; */
    /* outline: 1px solid #fff !important; */
}

@media (max-width: 576px) {
    a.nav-link {
        padding: 20px 20px !important;
    }
    .bottom-white figure:nth-child(5),
    figure:nth-child(6),
    figure:nth-child(7) {
        display: none !important;
    }
    .navigation {
        padding-right: 45% !important;
        margin-bottom: 15px;
        /* margin: 0 auto !important */
    }
    footer .col-sm:nth-child(3) h3 {
        display: none;
    }
    footer .col-sm:nth-child(2) h3 {
        margin-top: 15px !important;
    }

    footer .col-sm:nth-child(2), footer .col-sm:nth-child(3), footer .col-sm:nth-child(4), footer .col-sm:nth-child(5) {
        /* width: 100%; */
        padding: 0 10px 0 0 !important;
    }
    h1 {
        font-size: 1.7rem !important;
    }
}
 

@media (min-width: 560px) {
    .navigation {
        padding-right: 47.5% !important;
    }
    h1 {
        font-size: 2.8rem !important;
    }
}

@media (max-width: 992px) {
    h1 {
        /* font-size: 3rem !important; */
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    h2 {
        font-size: 1.4rem !important;
        text-align: center;
    }
    .top-red h2 {
        margin-top: 25px;
    }
    .btn-below-h1 {
        margin-bottom: 25px !important;
    }
    .top-white {
        padding: 10px;
        padding-top: 20px;
    }
    .bottom-white h2 {
        /* display: block; */
        margin: 25px auto !important;
        /* text-align: center; */
    }
    .col-sm.navigation-arrow {
        width: 100% !important;
    }
    .navigation {
        margin-bottom: 25px;
    }
    .row-bottom-white {
        max-width: 1000px;
    }
    .bottom-white figure:nth-child(4) {
        /* margin-left: 8%; */
        text-align: center;
    }
    .bottom-white figure:nth-child(5),
    figure:nth-child(6) {
        display: none !important;
    }
    .bottom-white figure:nth-child(7) {
        text-align: center;
        /* padding-left: 20px !important; */
        /* display: none; */
        /* border: 3px solid red; */
    }
    footer, .top-red {
        padding: 0 5px !important;
    }
}

@media (min-width: 992px) {
    .btn-below-h1 {
        margin-top: 55px !important;
    }
    .top-white {
        /* margin-top: 160px; */
        padding-top: 95px;
        padding-bottom: 85px;
    }
    .top-red h2 {
        margin-bottom: 60px;
        margin-top: 45px;
    }
    .top-red .col-sm {
        margin-right: 20px;
    }
    .col-sm:nth-child(6) {
        margin-right: 0px;
    }
    .top-red figure {
        margin-bottom: 30px;
    }
    .top-red {
        padding-bottom: 35px;
    }
    .bottom-white {
        padding-top: 100px !important;
    }
    .bottom-white .col-sm {
        /* display: block; */
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .bottom-white figcaption {
        margin-bottom: 80px;
    }
    .navigation {
        padding-right: 18px !important;
    }
    .row-bottom-white,
    .row-bottom-black {
        max-width: 1040px;
        padding-left: 20px;
    }
    .bottom-white .col-sm {
        padding-right: 0px !important;
    }
    h1 {
        font-size: 4rem !important;
    }
    header {
        padding-bottom: 160px;
    }
}

.navbar {
    line-height: .9 !important;
    background: #e74c3c !important;
    width: 100%;
    padding: 0% !important;
}

body {
    background: #363636;
    color: #fff;
}

header {
    max-width: 1000px;
}

.nav-link {
    color: #fff !important;
    padding: 42px 20px 42px 20px !important;
    text-transform: uppercase;
}

.nav-link:hover {
    background: #f46758;
    color: #363636 !important;
}

.navbar-brand {
    margin-left: 20px !important;
}

button.navbar-toggler {
    margin: 10px !important;
}

.fa-navicon {
    color: #fff;
}

.row-white {
    max-width: 1000px;
}

h1 {
    display: block !important;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-size: 4rem; */
    /* font-size: 52pt; */
    transform: scale(1.01, 1);
    padding: 160px 0 25px 0;
}

h2 {
    text-transform: uppercase;
    line-height: .9;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    transform: scale(1, 1);
    color: #3e3e3e !important;
    margin-bottom: 25px;
}

.below-h1 {
    max-width: 620px;
}

.btn-below-h1 {
    background: #404040;
    border: 1px solid #9b9b9b;
    border-radius: 0px !important;
    color: #fff;
    padding: 16px 55px;
    opacity: 0.5;
}

.btn-below-h1:hover {
    color: #ccc;
    /* opacity: 0; */
}

.top-white {
    background: #fff;
    color: #000;
    line-height: 1.4;
}

.top-white a,
footer a {
    color: #e74c3c;
    text-decoration: underline;
}

.top-white a:hover,
footer a:hover {
    color: #e74c3c;
    text-decoration: none;
}

.top-white p {
    /* padding: 0 10px 0 0 !important; */
    margin-right: 11px;
}

.text-best {
    color: #e74c3c;
}

.top-red {
    background: #db574a;
}

.top-red h2 {
    text-transform: uppercase;
    color: #fff !important;
    /* line-height: .9; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 2.4rem;
    transform: scale(0.9, 1);
}

/* .top-red .col-sm { */

.top-red-div {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.top-red p {
    /* max-width: 230px; */
    text-align: center;
    line-height: 1.3;
    /* padding-right: 20px; */
}

.bottom-white {
    background: #fff;
    color: #000;
}

.bottom-white .navigation>img {
    float: right;
    margin-left: 10px;
}

.bottom-white figure img {
    width: 235px;
    height: 130px;
    /* display: none; */
    background: #fff;
}

.bottom-white figcaption {
    margin-top: 10px;
    /* margin-bottom: 80px; */
    font-weight: 600;
}

.bottom-black {
    background: #000;
}

footer h3 {
    text-transform: uppercase;
    line-height: .9;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    transform: scale(0.95, 1);
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: -5px;
}

/* footer .col-sm:nth-child(1) img,
.col-sm:nth-child(2) img,
.col-sm:nth-child(3) img { */
   footer img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

footer p {
    line-height: 1.3;
    margin-right: 8px !important;
    /* background: #fff; */
    font-size: 14px;
    color: #8a8a8a;
}

footer .col-sm:nth-child(3) h3 {
    color: red;
    opacity: 0;
}
 
.sprite {
    background-image: url(../img/social.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 12px !important;
}

.sprite-fb {
    width: 8px;
    height: 14px;
    background-position: -1px -1px;
}

.sprite-goog {
    width: 16px;
    height: 14px;
    background-position: -11px -1px;
}

.sprite-pinter {
    width: 12px;
    height: 14px;
    background-position: -29px -1px;
}

.sprite-twit {
    width: 18px;
    height: 14px;
    background-position: -43px -1px;
}

.top-header {
    background: url(../img/header-city-3.jpg) no-repeat center center;
    /* background-position: center; */
    background-size: cover;
    /* opacity: .3; */
}

.top-header-2 {
    /* background: rgba(54, 54, 54, 0.6);  */
    background: #000000bc
}