@import '~include-media/dist/_include-media.scss';
@import 'variables.scss';
@import 'top-header.scss';
@import 'top-white.scss';
@import 'top-red.scss';

@media (max-width: 576px) {
    // a.nav-link {
    // padding: 20px 20px !important;
    // }
    .bottom-white figure:nth-child(5),
    figure:nth-child(6),
    figure:nth-child(7) {
        display: none !important;
    }
    .navigation {
        padding-right: 45% !important;
        margin-bottom: 15px;
    }
    footer .col-sm:nth-child(3) h3 {
        display: none;
    }
    footer .col-sm:nth-child(2) h3 {
        margin-top: 15px !important;
    }
    footer .col-sm:nth-child(2),
    footer .col-sm:nth-child(3),
    footer .col-sm:nth-child(4),
    footer .col-sm:nth-child(5) {
        padding: 0 10px 0 0 !important;
    }
    h1 {
        font-size: 1.65rem !important;
    }
}

@media (min-width: 560px) {
    .navigation {
        padding-right: 47.5% !important;
    }
    h1 {
        font-size: 2.8rem !important;
    }
}

@media (max-width: 992px) {
    h1 {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    h2 {
        font-size: 1.4rem !important;
        text-align: center;
    }
    .top-red h2 {
        margin-top: 25px;
    }
    .btn-below-h1-2 {
        // margin-bottom: 25px !important;
    }
    .top-white {
        // padding: 10px;
        // padding-top: 20px;
    }
    .bottom-white h2 {
        margin: 25px auto !important;
    }
    .col-sm.navigation-arrow {
        width: 100% !important;
    }
    .navigation {
        margin-bottom: 25px;
    }
    .row-bottom-white {
        max-width: 1000px;
    }
    .bottom-white figure:nth-child(4),
    .bottom-white figure:nth-child(5) {
        text-align: center;
    }
    .bottom-white figure:nth-child(6),
    figure:nth-child(7) {
        display: none !important;
    }
    .bottom-white figure:nth-child(7) {
        text-align: center;
    }
    footer,
    .top-red-cover {
        padding: 0 10px 10px 10px !important;
    }
}

@media (min-width: 992px) {
    .btn-below-h1-2 {
        // margin-top: 55px !important;
    }
    .top-white {
        // padding-top: 95px;
        // padding-bottom: 85px;
    }
    .top-red h2 {
        margin-bottom: 60px;
        margin-top: 45px;
    }
    .top-red .col-sm {
        margin-right: 20px;
    }
    .col-sm:nth-child(6) {
        margin-right: 0px;
    }
    .top-red figure {
        margin-bottom: 30px;
    }
    .top-red-cover {
        padding-bottom: 35px;
    }
    .bottom-white {
        padding-top: 100px !important;
    }
    .bottom-white .col-sm {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .bottom-white figcaption {
        margin-bottom: 80px;
    }
    .navigation {
        padding-right: 18px !important;
    }
    .row-bottom-white,
    .row-bottom-black {
        max-width: 1040px;
        padding-left: 20px;
    }
    .bottom-white .col-sm {
        padding-right: 0px !important;
    }
    h1 {
        font-size: 4rem !important;
    }
    header {
        padding-bottom: 160px;
    }
}

.navbar {
    line-height: 0.9 !important;
    background: #e74c3c !important;
    width: 100%;
    padding: 0% !important;
}

body {
    background: #363636;
    color: #fff;
}

header {
    max-width: 1000px;
}
/* 
.nav-link {
    color: #fff !important;
    padding: 42px 20px 42px 20px !important;
    text-transform: uppercase;
}

.nav-link:hover {
    background: #f46758;
    color: #363636 !important;
}
 */
.navbar-brand {
    margin-left: 20px !important;
}

button.navbar-toggler {
    margin: 10px !important;
}

.fa-navicon {
    color: #fff;
}

/* 
.row-white {
    max-width: 1000px;
} */

h1 {
    display: block !important;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    transform: scale(1.01, 1);
    padding: 160px 0 25px 0;
}

h2 {
    text-transform: uppercase;
    line-height: 0.9;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    transform: scale(1, 1);
    color: #3e3e3e !important;
    margin-bottom: 25px;
}

.btn-below-h1-2 {
    // border: 1px solid #fff;
    // padding: 15px 55px;
    // text-transform: uppercase;
    // border: 1px solid #9b9b9b;
}

.btn-below-h1-2:hover {
    // color: #ddd;
    // background: #404040;
}

.top-white {
    // background: #fff;
    // color: #000;
    // line-height: 1.4;
}

// .top-white a,
footer a {
    color: #e74c3c;
    text-decoration: underline;
}

// .top-white a:hover,
footer a:hover {
    color: #e74c3c;
    text-decoration: none;
}

// .top-white p {
// margin-right: 11px;
// }

.text-best {
    color: #e74c3c;
}

.top-red {
    // background: #db574a;
}

.top-red h2 {
    text-transform: uppercase;
    color: #fff !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 2.4rem;
    transform: scale(0.9, 1);
}

.top-red-div {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.top-red p {
    text-align: center;
    line-height: 1.3;
}

.bottom-white {
    background: #fff;
    color: #000;
}

.bottom-white .navigation > img {
    float: right;
    margin-left: 10px;
}

.bottom-white figure img {
    width: 235px;
    height: 130px;
    background: #fff;
}

.bottom-white figcaption {
    margin-top: 10px;
    font-weight: 600;
}

.bottom-black {
    background: #000;
}

footer h3 {
    text-transform: uppercase;
    line-height: 0.9;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    transform: scale(0.95, 1);
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: -5px;
}

footer img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

footer p {
    line-height: 1.3;
    margin-right: 8px !important;
    font-size: 14px;
    color: #8a8a8a;
}

footer .col-sm:nth-child(3) h3 {
    color: red;
    opacity: 0;
}

.sprite {
    background-image: url(../../public/assets/social.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 12px !important;
}

.sprite-fb {
    width: 8px;
    height: 14px;
    background-position: -1px -1px;
}

.sprite-goog {
    width: 16px;
    height: 14px;
    background-position: -11px -1px;
}

.sprite-pinter {
    width: 12px;
    height: 14px;
    background-position: -29px -1px;
}

.sprite-twit {
    width: 18px;
    height: 14px;
    background-position: -43px -1px;
}

// .top-red {
/* background: url(https://cdn.discordapp.com/attachments/685476125383720992/685477011371720706/middle-city.png); */
// background: url(../../public/assets/middle-city.jpg);
// background-size: cover;
// }

// .top-red-cover {
/* background: #f05443bc; */
// background: rgba(240, 84, 67, 0.75);
// }
